<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.womensafteyapp">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.WomenSafteyApp">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCH_4OmIAQ-4ccrRzeX3lLkuudas4LFvJw" />

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".PowerButtonReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".PhoneLoginActivity" />
        <activity android:name=".SOSActivity" />
        <activity android:name=".UserSetupActivity" />
        <activity android:name=".PermissionsActivity" />

    </application>

</manifest>
